.servico, .produto{
    background-color: rgb(94, 216, 175);
    padding: 30px;
    margin: auto;
    width: 50%;
    
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servico:hover, .produto:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0,0,0,0.3);
}

.espace{
    padding-bottom: 30px;
}